**/.mvn/
**/.vscode/
**/lib/
**/dist/
**/generated/
**/build/
**/src-gen/
**/python-db-gen/
**/xtend-gen/
**/gen-webpack.config.js
**/bin/
**/target/
**/test-bin/
**/pack/
**/plantuml-gen/
**/*.log
**/*.vsix
**/.project
**/.classpath
**/.DS_Store
**/*.prefs
**/*.puml
**/server/
**/node_modules/
**/package-lock.json
**/mvnw
**/mvnw.cmd
**/.yarn
**/.yarnrc.yml
/extension/*.cjs
/extension/*.mjs